<div class="container">
    <div>
        <span>(L.V.)</span>
        <span class="primary-color">{{ numbers?.lv?.display }}</span>
    </div>
    <div>
        <span>(P.E.)</span>
        <span class="primary-color">{{ numbers?.pe?.display }}</span>
    </div>
    <div>
        <span>(N.A.)</span>
        <span class="primary-color">{{ numbers?.nal?.display }}</span>
    </div>
    <div>
        <span>(V.D.)</span>
        <span class="primary-color">{{ numbers?.vd?.display }}</span>
    </div>
    <div>
        <span>(N.F.)</span>
        <span class="primary-color">{{ numbers?.nf?.display }}</span>
    </div>
    <div>
        <span>(S.O.)</span>
        <span class="primary-color">{{ numbers?.so?.value == 11 ? 11 : numbers?.so?.reducedValue }}</span>
    </div>
 </div>
  