<div class="grid-container">
    <div class="grid-item">
        <span class="bold">1:</span>
        <span [ngClass]="getBalanceClass(getNumberCount(1))">{{ getNumberCount(1) }}</span>
    </div>
    <div class="grid-item">
        <span class="bold">2:</span> 
        <span [ngClass]="getBalanceClass(getNumberCount(2))">{{ getNumberCount(2) }}</span>
    </div>
    <div class="grid-item">
        <span class="bold">3:</span> 
        <span [ngClass]="getBalanceClass(getNumberCount(3))">{{ getNumberCount(3) }}</span>
    </div>
    <div class="grid-item">
        <span class="bold">4:</span> 
        <span [ngClass]="getBalanceClass(getNumberCount(4))">{{ getNumberCount(4) }}</span>
    </div>
    <div class="grid-item">
        <span class="bold">5:</span> 
        <span [ngClass]="getBalanceClass(getNumberCount(5))">{{ getNumberCount(5) }}</span>
    </div>
    <div class="grid-item">
        <span class="bold">6:</span> 
        <span [ngClass]="getBalanceClass(getNumberCount(6))">{{ getNumberCount(6) }}</span>
    </div>
    <div class="grid-item">
        <span class="bold">7:</span> 
        <span [ngClass]="getBalanceClass(getNumberCount(7))">{{ getNumberCount(7) }}</span>
    </div>
    <div class="grid-item">
        <span class="bold">8:</span> 
        <span [ngClass]="getBalanceClass(getNumberCount(8))">{{ getNumberCount(8) }}</span>
    </div>
    <div class="grid-item">
        <span class="bold">9:</span> 
        <span [ngClass]="getBalanceClass(getNumberCount(9))">{{ getNumberCount(9) }}</span>
    </div>
  </div>