.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px; 
    font-size: 20px;
}
  
.grid-item {
    padding: 20px;
    text-align: center;
}

.deficieny {
    color: #dc3545
}

.balanced {
    color: #d0b002;
}

.excess {
    color: #dc3545;
}