<div class="grid-container">

    <div *ngFor="let letter of name.charValuesName; index as i;" class="grid-item">

        <div class="accent-color letter-box flex align-center justify-center">{{ letter.isVowel ? letter.value?.display : '' }}</div>
        <div class="primary-color letter-box flex align-center justify-center">{{ letter.letter }}</div>
        <div class="accent-color letter-box flex align-center justify-center">{{ !letter.isVowel ? letter.value?.display : '' }}</div>

    </div>
</div> 