/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.gap20 {
    gap: 20px;
}

.p10 {
    padding: 10px;
}

.w100 {
    width: 100%;
}